<!doctype html>
<html>
	<head>
		<link href="{{root}}/assets/marketplace/main.css" rel="stylesheet" />
		<link href="./main.css" rel="stylesheet" />
	</head>

	<body>
		<div id="app" v-cloak data-endpoint="{{endpoint}}">
			<div id="content">
				<div id="main-content">
					<div v-if="!errorMessageInitialization">
						<header>
							<div id="title-area">
								<div v-if="!searchInput">
									<h1>
										Azure IoT Edge Module Marketplace ({{
										this.filteredModules.length }})
									</h1>
								</div>
								<div v-else>
									<h1>
										Result for {{ searchInput }} ({{
										this.filteredModules.length }})
									</h1>
								</div>
								<input
									id="search-box"
									placeholder="Search"
									v-model="searchInput" />
							</div>
						</header>
						<div class="modules">
							<div
								:class="{selected:selectedModule.id == module.id}"
								class="module"
								v-for="module in filteredModules"
								v-on:click="showModule(module)">
								<div class="image">
									<img :src="module.icon" />
								</div>
								<div class="info-area">
									<div class="title">
										{{ module.displayName }}
									</div>
									<div class="publisher">
										By {{ module.publisherDisplayName }}
									</div>
									<div class="description">
										{{ module.summary }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="error-initialization" v-else>
						Fail to fetch IoT Edge modules from Azure Marketplace.
						Please retry. <br />
						Error message: {{ errorMessageInitialization }}
					</div>
				</div>
				<div id="module-detail" v-if="selectedModule.id">
					<div id="module-detail-container">
						<div class="info-item">
							<div class="title">
								{{ selectedModule.displayName }}
							</div>
							<div class="publisher">
								By {{ selectedModule.publisherDisplayName }}
							</div>
							<div
								class="description"
								v-html="selectedModule.description"></div>
							<div class="inputs">
								<div class="input">
									<label>Plans: </label>
									<select v-model="selectedPlan">
										<option
											v-bind:value="plan"
											v-for="plan in selectedModule.plans">
											{{ plan.displayName }}
										</option>
									</select>
								</div>
								<div class="input">
									<label>Module Name: </label>
									<input v-model="moduleName" />
								</div>
								<div
									class="error"
									v-if="errorMessageModuleName">
									{{ errorMessageModuleName }}
								</div>
								<div class="input">
									<label>Tags: </label>
									<select v-model="selectedTag">
										<option
											v-for="tag in selectedModule.metadata.tagsOrDigests">
											{{ tag }}
										</option>
									</select>
								</div>
							</div>
							<div class="action">
								<button v-on:click="importModule()">
									Import
								</button>
								<button
									v-on:click="selectedModule.id='';selectedPlan=''">
									Cancel
								</button>
							</div>
							<div class="term-of-use">
								I agree to the provider's
								<a :href="selectedModule.legalTermsUri"
									>Term of Use</a
								>
								and
								<a :href="selectedModule.privacyPolicyUri"
									>Privacy Policy</a
								>
								and understand that the rights to use this
								product do not come from Microsoft, unless
								Microsoft is the provider. Use of Azure
								Marketplace is governed by separate
								<a href="https://aka.ms/azuremarketplaceterms"
									>terms</a
								>.
							</div>
						</div>
						<div class="learn-more-item">
							<div
								v-if="selectedModule.links && selectedModule.links.length > 0">
								<div class="learn-more">Learn more</div>
								<div class="learn-more-links">
									<div
										class="link"
										v-for="link in selectedModule.links">
										<a :href="link.uri"
											>{{ link.displayName }}</a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar"></div>
		</div>
		<script
			src="{{root}}/assets/marketplace/vue.min.js"
			type="text/javascript"></script>
		<script src="./vue.min.js" type="text/javascript"></script>
		<script
			src="{{root}}/assets/marketplace/axios.min.js"
			type="text/javascript"></script>
		<script src="./axios.min.js" type="text/javascript"></script>
		<script
			src="{{root}}/assets/marketplace/main.js"
			type="text/javascript"></script>
		<script src="./main.js" type="text/javascript"></script>
	</body>
</html>
